body {
  padding: 0;
  margin: 2.5em auto;
  text-align: center;
  background-color: #f2cc8f;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 1.6em;
}

#numLimit {
  font-size: 1em;
  background-color: #eae2b7;
}

.container {
  margin: 0 auto;
  border: 5px solid #e76f51;
  border-radius: 10px;
  width: 33%;
  padding: 0;
}

.top,
.bottom,
.middle {
  width: 100%;
  margin: 0 auto;
}

.bottom {
  border-top: 5px solid #e76f51;
}

img {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.nums {
  font-weight: bold;
}

#p1Btn,
#p2Btn,
#resetBtn {
  padding: 7px 12px;
  margin: 2em auto;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 0.6em;
}

.p1Btn-active {
  background-color: #2a9d8f;
}

.p2Btn-active {
  background-color: #264653;
}

.resetBtn-active {
  background-color: #e76f51;
}

#p1Btn:hover,
#p1Btn:focus {
  background-color: #006d77;
}

#p2Btn:hover,
#p2Btn:focus {
  background-color: #1d3557;
}

#resetBtn:hover,
#resetBtn:focus {
  background-color: #e63946;
}

.gameOverBtn {
  opacity: 0.2;
}

.winner {
  color: green;
}

.loser {
  color: red;
}

.regular {
  color: black;
}
